*{
    color: $font-primary !important;
}
body{
    //$t-300
    background: $body-bg;
}
.transition-0{
    transition: 0s all !important;
}
main{
    .container{
        min-height: 100vh;
    }
}

//Title box of site
.title-box{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    h1{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
}

.quiz-box{
    transition: .4s all;
    *{
        transition: .4s all;
    }
    &.hide{
        opacity: 0;
    }
    &.h-0{
        height: 0 !important;
    }
    //Question block
    .question-block{
        display: flex !important;
        align-items: center;
        margin-bottom: 2rem;
        span{
            display: block;
        }
        //1,2,3,4 etc.
        .question-no{
            padding-right: 1.5rem;
            font-size: 4rem;
        }
        //Text of question
        .question-text{
            font-size: 1.4rem;
            text-align: justify;
        }
    }

    //Answers styles
    .answers-block{
        button{
            display: block;
            width: 100%;
            text-align: left;
            transition: .5s all;
            cursor: pointer;
            margin: .5rem 0;
            background: $btn;
            font-size: 1.5rem;
            padding: 0;
            border: 0;
            span{
                display: inline-block;
            }
            &:hover{
                background: $btn-hover;
            }
            &:active{
                box-shadow: 0 0 5px $btn-active;
            }
            &:focus{
                box-shadow: 0 0 5px $btn-active;
            }
            //Answer
            &.answer{
                //A, B, C... etc
                .answer-letter{
                    font-size: 1.7rem;
                    padding: .6rem;
                    width: 40px;
                    text-align: center;
                    background-color: $btn-letter;
                }
                //Answer text
                .answer-text{
                    padding: 1rem 0;
                    font-size: 1.4rem;
                    padding: .6rem;
                    width: 40px;
                }
            }
        }
    }
}
