//Teal colors game
$btn: #EEEEEE;
$btn-hover: #BDBDBD;
$btn-active: #BDBDBD;

//Badge of answer (A,B,C etc.)
$btn-letter: #E0E0E0;

//Colors in elements
$body-bg: linear-gradient(#F5F5F5, #F5F5F5);

//Typography
$font-primary: #212121;
